*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient( rgb(41, 233, 199) 20px ,rgb(221, 219, 208), rgb(211, 220, 221));
}

i{
  cursor: pointer;
}

.container{
  width: 80%;
  height: 90%;
  margin: auto;
  display: flex;

}

.left{
  width: 40%;
  min-width: 350px;
  /* background-color: green; */
  border-right: 1px solid lightgrey;
  display: flex;
  flex-flow: column;
}

.left , .right{
  /* float: left; */
  height: 100%;
}

.right{
  width: 60%;
  display: flex;
  flex-flow: column;
  /* background-color: green; */
  border-right: 1px solid lightgrey;
}


.header-left, .header-right{
  width: 100%;
  height: 60px;
  flex-shrink: 0;
  background-color: rgb(235, 235, 235);
}

/* USER */
.user {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.user-img img{
  width: 40px;
  border-radius: 50%;
  margin-left: 5px;
}
.user-name {
  flex-grow: 1;
  padding-left: 10px;
}

.user span {
  flex-grow: 1;
  padding-left: 10px;
  font-size: 18px;
}

.user .options {
  font-size: 20px;
  color: darkgrey;
}

.options i {
  padding-right: 10px;
}


/* NOTIFICHE */
.notifications {
  display: flex;
  background-color: rgb(123, 212, 224);
}

.notifications i {
  font-size: 30px;
  margin-left: 15px;
  margin-right: 10px;
  padding: 10px 6px;
  margin: 10px;
  background-color: white;
  border-radius: 50%;
  color: rgb(123, 212, 224);
  cursor: pointer;
}

.notifications-text {
  flex-grow: 1;
}

.notifications-text .top{
 padding-top: 18px;
 font-size: 15px;
}

.notifications-text > p {
  left: 15px;
}

.notifications-text  .bottom {
  font-size: 15px;
  color: grey;
  text-decoration: underline;
  padding-bottom: 5px;
  cursor: pointer;
}

/* SEARCH */
.searchbar {
  padding: 10px;
  background-color: rgb(235, 235, 235);
}

.search-container {
  padding: 10px 0 10px 15px;
  background-color: white;
  display: flex;
  align-items: center;
}

.search-container i {
  font-size: 20px;
  color: lightgrey;
  cursor: pointer;
}

.search-container input {
  margin-left: 20px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 10px;
}


/* CONTATTI */
.contacts {
  flex-grow: 1;
  background-color: white;
  overflow-y: scroll;
  /* height: calc(100% - 200px);
  max-height: 450px; */
}

.contact {
  padding: 10px;
  display: flex;
  font-size: 17px;
  border-bottom: 1px solid lightgrey;
}

.contacts .contact:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}
.contact img {
  width: 65px;
  border-radius: 50%;
}

.contact-chatbox {
  padding-left: 15px;
  display: flex;
  align-items: center;
}

/* HEADER-RIGHT */
.header-right {
  padding: 10px;
  display: flex;
  align-items: center;

}

.chat-img img {
  width: 40px;
  border-radius: 50%;
}

.chat-contact {
  flex-grow: 1;
  padding-left: 15px;
}

.chat-contact .name {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.chat-contact .info{
  color: darkgrey;
  font-size: 15px;
}

.chat-options {
  font-size: 25px;
}

.chat-options i {
  padding-right: 15px;
  color: darkgrey;
}

/* CHAT-CONTAINER */
.chat-container{
  flex-grow: 1;
  background-image: url("../img/mine.jpg");
  background-size: auto;
  overflow-y: scroll;
}

.text {
  padding: 30px;
}

.text .message {
  position: relative;
  max-width: 250px;
  font-size: 18px;
  margin: 5px 0;
  padding: 15px 45px 20px 20px;
  border-radius: 20px;
}

.sent{
  clear: both;
  float: right;
  min-width: 250px;
  background-color: rgba(86, 218, 119, 0.92);
}

.received{
  clear: both;
  margin-top: 90px;
  background-color: white;
}

.message-time {
  position: absolute;
  bottom: 2px;
  padding-right: 4px;
  right: 6px;
  font-size: 10px;
  color: grey;
}

/* FOOTER-CHAT */
.footer-chat {
  padding: 10px 0;
  display: flex;
  align-items: center;
  background-color: rgb(235, 235, 235);

}

.footer-chat i {
  font-size: 30px;
  padding: 0 30px;
  color: grey;
}

.message-input {
  flex-grow: 1;
}

.message-input input{
  height: 60px;
  width: 100%;
  font-size: 17px;
}
