*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 80%;
  height: 90%;
  margin: auto;
  display: flex;

}

.left{
  width: 40%;
  background-color: green;
  border-right: 1px solid lightgrey;
}

.left , .right{
  float: left;
  height: 100%;
}

.right{
  width: 100%;
  background-color: green;
  border-right: 1px solid lightgrey;
}


.header-left, .header-right{
  width: 100%;
  height: 60px;
  background-color: blue;
}

/* USER */
.user {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.user img {
  width: 40px;
  border-radius: 50%;
  margin-left: 5px;
}

.user span {
  flex-grow: 1;
  padding-left: 10px;
  font-size: 18px;
}

.user .options {
  font-size: 20px;
  color: lightgrey;
}

.options i {
  padding-right: 10px;
}


/* NOTIFICHE */
.notifications {
  display: flex;
  background-color: rgb(123, 212, 224);
}

.notifications i {
  font-size: 30px;
  margin-left: 15px;
  margin-right: 10px;
  padding: 10px 6px;
  margin: 10px;
  background-color: white;
  border-radius: 50%;
  color: rgb(123, 212, 224);
  cursor: pointer;
}

.notifications-text {
  flex-grow: 1;
}

.notifications-text .top{
 padding-top: 18px;
 font-size: 15px;
}

.notifications-text > p {
  left: 15px;
}

.notifications-text  .bottom {
  font-size: 15px;
  color: grey;
  text-decoration: underline;
  padding-bottom: 5px;
  cursor: pointer;
}
