<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <title>Whatsapp web</title>
  </head>
  <body>
    <!-- Inizio Container -->
    <div class="container" id="app">

      <!-- Inizio Sezione SX -->
      <section class="left">

        <div class="header-left">
          <div class="user">

            <div class="user-img">
              <img :src="user.img" alt="user-img">
            </div>

            <div class="user-name">
              <span>{{ user.name }}</span>
            </div>

          <div class="options">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        </div>
        <div class="notifications">
          <div class="notifications-icon">
           <i class="fas fa-bell-slash"></i>
          </div>
          <div class="notifications-text">
            <div>
              <p class="top">
                Ricevi notifiche di nuovi messaggi
              </p>
              <p class="bottom">
                Attiva notifiche desktop
              </p>
            </div>
          </div>
        </div>

        <!-- SEARCHBAR -->
        <div class="searchbar">
          <div class="search-container">
           <div class="search-icon">
             <i class="fas fa-search"></i>
           </div>
           <div class="search-input">
             <input type="text" placeholder="Cerca o inizia una chat">
           </div>
         </div>
        </div>

        <!-- CONTATTI -->
        <div class="contacts">
          <div v-for="(contact, index) in contacts" class="contact" :class="(contact.chat) ? 'active' : ''" @click="changeChat(index)" >
            <div class="contact-img">
              <img :src="contact.img" alt="contact-img">
            </div>
            <div class="contact-chatbox">
              {{ contact.name }}
            </div>
          </div>
        </div>

      </section>
      <!-- /Sezione SX -->

      <!-- Inizio Sezione DX -->
      <section class="right">

        <div class="header-right" v-for="contact in contacts" v-if="contact.chat">
          <div class="chat-img">
            <img :src="contact.img" alt="contact-img">
          </div>
          <div class="chat-contact">
            <div class="name">
              {{ contact.name }}
            </div>
            <div class="info">
              Ultimo accesso alle 12:24
            </div>
          </div>

          <div class="chat-options">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>

        </div>

        <!-- CHAT -->
        <div class="chat-container">
          <div class="text">
            <div class="message sent">
              Ciao! Come stai?
            </div>
            <div class="message received">
              Bene e tu?
            </div>
          </div>
        </div>
        <!--/ CHAT -->


        <div class="footer-chat">
          <div class="emoji">
           <i class="far fa-smile"></i>
          </div>
          <div class="message">
            <input type="text" placeholder="Scrivi un messaggio">
          </div>
          <div class="vocale">
            <i class="fas fa-microphone"></i>
          </div>

        </div>

      </section>
      <!-- /Sezione DX -->

    </div>
    <!-- /Container -->
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
